.hello{
    background: aliceblue;
}
.bg-url{
    background-image: url(./assets/img-3.jpeg);
    background-size: 35%;
}
@font-face {
    font-family: 'iconfont';
    src: url("./assets/iconfont.ttf") format("truetype");
/*    truetype代表的是字体格式ttf*/
}
.iconn{
    font-family: iconfont !important;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}